.jfx-combo-box:disabled {
    -fx-opacity: 1.0;
}
.jfx-combo-box {
    -fx-prompt-text-fill: white;
    -fx-background-color: #151928;
}

.jfx-combo-box .list-view {
    -fx-background-color: #151928;
    -fx-text-fill: #2196f3;
}
.jfx-combo-box .list-cell {
    -fx-background-color: #151928;
    -fx-text-fill: #2196f3;
}
.jfx-combo-box .list-view .list-cell:selected {
    -fx-text-fill: #151928;
    -fx-background-color: #2196f3;
}